#edu {
	width: 100%;
	background-color: #333;

	.inner {
		width: 1180px;
		height: 550px;
		margin: 0px auto;
		display: flex;
		justify-content: space-evenly;

		.pic {
			width: 400px;
			padding-top: 70px;

			img {
				width: 100%;
				object-fit: cover;
				box-shadow: 3px 3px 10px #000;
			}
		}

		.content {
			position: relative;
			text-align: center;
			color: #fff;
			top: 10%;
			h1 {
				font: 40px/1 'koulen';
				color: #fff;
				padding-bottom: 20px;
				// margin-top: 20px;
				// margin-bottom: 80px;
			}
			h1::after {
				display: block;
				content: '';
				position: absolute;
				margin-top: 10px;
				width: 300px;
				height: 2px;
				left: 50%;
				transform: translateX(-50%);
				background-color: #fff;
			}
			h2 {
				font: bold 30px/1.3 'oswald';
				color: #c9ab81;
				letter-spacing: 1px;
			}
		}
	}
}
