#about {
	width: 100%;
	background-color: #222;

	.inner {
		width: 1180px;
		height: 100vh;
		margin: 0px auto;
		position: relative;

		.info {
			text-align: center;
			color: #fff;
			top: 90px;
			h1 {
				font: 50px/1 'koulen';
				color: #fff;
				padding-bottom: 20px;
				// margin-top: 20px;
				// margin-bottom: 80px;
			}
			h1::after {
				display: block;
				content: '';
				position: absolute;
				margin-top: 10px;
				width: 300px;
				height: 2px;
				left: 50%;
				transform: translateX(-50%);
				background-color: #fff;
			}
		}

		.content {
			position: absolute;
			// top: 200px;
			h2 {
				font: 30px/1 'oswald';
				color: #fff;
			}
			p {
				font: 24px/1 'noto sans kr';
				color: #c9ab81;
			}
		}
	}
}
