#html {
	width: 100%;
	background-color: #222;

	.inner {
		width: 1180px;
		height: 100vh;
		margin: 0px auto;

		.info {
			position: relative;
			text-align: center;
			color: #fff;
			top: 90px;
			h1 {
				font: 50px/1 'koulen';
				color: #fff;
				padding-bottom: 40px;
				// margin-top: 20px;
				// margin-bottom: 80px;
			}
			h1::after {
				display: block;
				content: '';
				position: absolute;
				margin-top: 10px;
				width: 300px;
				height: 2px;
				left: 50%;
				transform: translateX(-50%);
				background-color: #fff;
			}
		}

		.wrap {
			margin-top: 50px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.pic {
				width: 800px;
				padding-top: 80px;

				video {
					width: 100%;
					object-fit: cover;
					box-shadow: 3px 3px 10px #000;
				}
			}

			.title {
				position: relative;
				text-align: center;
				color: #fff;

				h1 {
					font: 24px/1 'noto sans kr';
					color: #fff;
					padding-bottom: 20px;
					margin-top: 80px;
					// margin-bottom: 80px;
				}
				h1::after {
					display: block;
					content: '';
					position: absolute;
					margin-top: 10px;
					width: 300px;
					height: 2px;
					left: 50%;
					transform: translateX(-50%);
					background-color: #fff;
				}
				h2 {
					font: bold 20px/2 'noto sans kr';
					color: #c9ab81;
					letter-spacing: 1px;
				}

				ul {
					padding-top: 5px;
					margin-bottom: 40px;
					li {
						font: 16px/2 'noto sans kr';
						color: #c9ab81;
						letter-spacing: 1px;
						margin-bottom: 1px;
					}
				}
				a {
					display: inline-block;
					font: 35px/1.2 'koulen';
					color: #111;
					width: 82px;
					height: 40px;
					background-color: #c9ab81;
					transition: 0.5s;
				}
				a:hover {
					color: #c9ab81;
					background-color: transparent;
				}
			}
		}
	}
}
